<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body>

    <h2>Completá tus datos!</h2>

    <form action="/" method="post">

        <div class="campo-form">
            <input type="text" name="nombreYApellido" required placeholder="Nombre y apellido" minlength="5">
        </div>

        <div class="campo-form">
            <input type="text" name="nombreUsuario" required placeholder="Nombre de usuario" minlength="5">
        </div>
        <div class="campo-form">
            <input type="email" name="emailUsuario" required placeholder="E-mail">
        </div>
        <div class="campo-form">
            <p>Fecha de nacimiento</p>
            <input type="date" name="fechaNacimiento" required>
        </div>
        <div class="campo-form">
            <input type="text" name="domicilioUsuario" required placeholder="Domicilio" >
        </div>

        <div class="campo-form">
            <p>Tipo de usuario</p>
            <label>Comprador<input type="radio" name="tipoUsuario" value="comprador" required></label>
            <label>Vendedor<input type="radio" name="tipoUsuario" value="vendedor" required></label>
        </div>


        <div class="campo-form">
            <p>Intereses</p>
            <label>Electro<input type="checkbox" name="categoria"> </label>
            <label>Moda<input type="checkbox" ></label>

            <label>Hogar<input type="checkbox" name="categoria"> </label>
            <label>Jugueteria<input type="checkbox" name="categoria"></label>

            <label>Vida sana<input type="checkbox" name="categoria"></label>
        </div>


        <div class="campo-form">
            <p>Foto de usuario</p>
            <input type="file" name="fotoUsuario">
        </div>


        <div class="campo-form">
            <input type="password" name="passwordUsuario" placeholder="Contraseña" required minlength="8">
        </div>

        <div class="campo-form">
            <input type="password" name="passwordUsuario" placeholder="Confirmar Contraseña" required minlength="8">
        </div>

        <div class="caja-boton">
            <button type="submit">Crea tu cuenta!</button>
        </div>

        <div class="caja-boton">
            <button type="reset">Borrar datos</button>
        </div>
    </form>


</body>
</html>