:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* -------- Header -------- */

header{
    padding: 20px;
    background-color: var(--Amarillo);
}

.header-parte-superior{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

#logo-meli{
    width: 50%;
    margin: 0%;

}

.barra-de-busqueda{
    display: flex;
    text-align: left;
    justify-content: space-between;
    background-color: var(--Gris-claro);
    border-radius: 5px;
    width: 45%;
    height: 30px;
    align-items: center;
}


.frase-encabezado{
    display: flex;
    text-align: center;
    justify-content: space-around;   
}

.frase-encabezado i{
    align-self: center;
}

.burger-menu{
    color: var(--Gris-claro);
    background-color: var(--Celeste);

    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: block;
    width: 40px;    
    margin: auto;
}

.nav-bar{
    display: none;
    justify-content: space-between;
    width: 100%;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    text-align: left;
    list-style: none;
    max-width: 100%;
    padding: 0%;
}

.nav-bar ul li{
    margin: 0px 15px;
}


.nav-bar a{
    color: black;
    text-decoration: none;
}



/* -------- Form -------- */


body{
    height: 100vh;
    background-color: var(--Gris-claro);

}

form{
    padding: 20px;
}

.campo-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

}

.campo-form input{
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 18px;
}

.caja-boton{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.caja-boton button{
    width: 50vh;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--Celeste);
    font-size: 20px;
    transition: background-color 600ms;

}

.caja-boton button:hover{
    cursor: pointer;
    background-color: #0022AA;

}



/* -------- Footer -------- */


footer{
    padding: 100px 60px;
    font-size: 16px;
    color: var(--Gris-oscuro);
}


footer section{
    text-align: center;
    padding: 10px 30px; 
}


.titulos-footer{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.iconos-footer{
    margin: auto;
    display: block;
    
    color: var(--Celeste);
    width: 100px;

}




/* -------- Media Queries -------- */



@media(min-width: 606px){
    /*Tablets*/


    .burger-menu{
        display: none;
    }

    .nav-bar{
        display: flex;
    }

    #logo-meli{
        width: 40%;
    
    }
    
    .barra-de-busqueda{
        width: 30%;
    }
    
    
    .frase-encabezado{
        width: 20%;
    }




}
@media(min-width: 769px){
    /*Desktop*/

    .informacion-footer{
        display: flex;
    }
}