:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    background-color: var(--Gris-claro);
}

h2{
    padding: 20px;
}

.campo-form p{
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

form{
    padding: 20px;    
}

.campo-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

}

.campo-form input{
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 18px;
}

.caja-boton{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    
}

.caja-boton button{
    width: 50vh;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--Celeste);
    font-size: 20px;

    transition: background-color 600ms;

}

.caja-boton button:hover{
    cursor: pointer;
    background-color: #0022AA;
}


@media(min-width: 426px){
    /*Tablets*/

}

@media(min-width: 769px){
    /*Desktop*/

}